In [9]:
import pandas as pd

tips = pd.read_csv("datasets/tips.csv")

tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
tips.sex = tips.sex.astype("category")
tips.smoker = tips.smoker.astype("category")
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null object
time          244 non-null object
size          244 non-null int64
dtypes: category(2), float64(2), int64(1), object(2)
memory usage: 10.3+ KB

### Working with numeric data

In [22]:
# Convert 'total_bill' to a numeric dtype
tips['total_bill'] = pd.to_numeric(tips["total_bill"], errors="coerce")

# Convert 'tip' to a numeric dtype
tips['tip'] = pd.to_numeric(tips["tip"], errors="coerce")

# Print the info of tips
print(tips.info())
print(tips.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
recode        244 non-null int64
dtypes: float64(2), int64(2), object(4)
memory usage: 15.3+ KB
None
   total_bill   tip     sex smoker  day    time  size  recode
0       16.99  1.01  Female     No  Sun  Dinner     2       0
1       10.34  1.66    Male     No  Sun  Dinner     3       1
2       21.01  3.50    Male     No  Sun  Dinner     3       1
3       23.68  3.31    Male     No  Sun  Dinner     2       1
4       24.59  3.61  Female     No  Sun  Dinner     4       0

### Regular Expressions

In [10]:
import re

In [11]:
# Import the regular expression module
import re

# Compile the pattern: prog
prog = re.compile('^\d{3}-\d{3}-\d{4}$')

# See if the pattern matches
result = prog.match('123-456-7890')
print(bool(result))

# See if the pattern matches
result2 = prog.match('1123-456-7890')
print(bool(result2))

True
False

In [12]:
# Import the regular expression module
import re

# Find the numeric values: matches
matches = re.findall('\d+', 'the recipe calls for 10 strawberries and 1 banana')

# Print the matches
print(matches)

['10', '1']

In [13]:
# Write the first pattern
pattern1 = bool(re.match(pattern='^\d{3}-\d{3}-\d{4}$', string='123-456-7890'))
print(pattern1)

# Write the second pattern
pattern2 = bool(re.match(pattern='\$\d*\.\d{2}$', string='$123.45'))
print(pattern2)

# Write the third pattern
pattern3 = bool(re.match(pattern='[A-Z]\w*', string='Australia'))
print(pattern3)

True
True
True

In [15]:
df_subset = pd.read_csv('datasets/dob_job_application_filings_subset.csv')

/home/kbaafi/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
def diff_money(row, pattern):
    
    icost = row["Initial Cost"]
    tef = row["Total Est. Fee"]
    
    if bool(pattern.match(icost)) and bool(pattern.match(tef)):
        icost = icost.replace("$","")
        tef = tef.replace("$","")
        
        icost = float(icost)
        tef = float(tef)
        
        return icost - tef
    return (Nan)

pattern = re.compile('^\$\d*\.\d{2}$')

In [17]:
df_subset['diff'] = df_subset.apply(diff_money, axis=1, pattern=pattern)

In [18]:
def recode_gender(gender):
    if gender=="Female":
        return 0
    elif gender=="Male":
        return 1
    else:
        return np.nan

In [19]:
tips['recode'] = tips.sex.apply(recode_gender)
tips.head()

   total_bill   tip     sex smoker  day    time  size  recode
0       16.99  1.01  Female     No  Sun  Dinner     2       0
1       10.34  1.66    Male     No  Sun  Dinner     3       1
2       21.01  3.50    Male     No  Sun  Dinner     3       1
3       23.68  3.31    Male     No  Sun  Dinner     2       1
4       24.59  3.61  Female     No  Sun  Dinner     4       0

In [ ]:
# Write the lambda function using replace
tips['total_dollar_replace'] = tips.total_dollar.apply(lambda x: x.replace('$', ''))

# Write the lambda function using regular expressions
tips['total_dollar_re'] = tips.total_dollar.apply(lambda x: re.findall('\d+\.\d+', x)[0])

tips.head()

# Missing Values

In [23]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
recode        244 non-null int64
dtypes: float64(2), int64(2), object(4)
memory usage: 15.3+ KB

### Dropping Duplicates

In [ ]:
# Create the new DataFrame: tracks
tracks = billboard[["year","artist","track","time"]]

# Print info of tracks
print(tracks.info())

# Drop the duplicates: tracks_no_duplicates
tracks_no_duplicates = tracks.drop_duplicates()

# Print info of tracks
print(tracks_no_duplicates.info())

In [24]:
airquality = pd.read_csv("datasets/airquality.csv")

oz_mean = airquality.Ozone.mean()

airquality["Ozone"] = airquality.Ozone.fillna(oz_mean)

# Asserts

In [ ]:
# Assert that there are no missing values
assert pd.notnull(ebola).all().all()
# Assert that all values are >= 0
assert (ebola >= 0).all().all()